<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Sign Up</h1>
        <form id = "form1" method= "" action="">
            ID:<br>
            <input id = "id" name="id" type = "text" value=""><br>
            Password: <br>
            <input id="password1" name="password1" type="password" value=""><br>
            Confirm Password : <br>
            <input id="password2" name="password2" type="password" value=""><br>
            Email:<br>
            <input id = "email" name="email" type="text" value="" style="width:170px">ex)as123@naver.com<br>
            PhoneNumber : <br>
            <input id = "phonenumber" name = "phonenumber" type ="text" value="" maxlength="13"></input>
            ex)010-0000-0000<br>
            Gender:<br>
            <label for = "s1">female</label>
                <input type ="radio" name = "gender" value = "female"><br>
            <label for = "s2">male</label>
                <input type ="radio" name = "gender" value = "male"><br>
            <input type = "submit" value="회원가입">
        </form>
       
    </body>
</html>
