<!--새로운 데이터 생성-->

<form action="{ % url 'create' %}">
    <input type="text" placeholder="이름" name="name" />
    <br />

    <input type="text" placeholder="학과" name="department" />
    <br />

    <input type="text" placeholder="입학년도" name="admission_year" />
    <br />

    <input type="text" placeholder="학번" name="student_number" />
    <br />

    <input type="text" placeholder="학년" name="level" />
    <br />

    <input type="text" placeholder="평균 학점" name="grade_avg" />
    <br />
    <br />

    <input type="submit" value="저장하기" />
</form>
